*,
*:before,
*:after{
  box-sizing:border-box;
  padding:0;
  margin:0;
}
body{
  font-size: 20px;
  line-height: 1.6;
  font-family: Roboto, Droid-sans, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  display: relative;
  overflow: hidden;
}
[data-role=page]{
  width: 100%;
  height: 100%;
  position:fixed;
  background-color: hsl(270, 50%, 90%);
  color: hsl(270, 60%, 40%);
  display:none;
}
.active-page{
  display:block;
}
header{
  background-color:blue;
  color: hsl(270, 50%, 95%);
  padding: 0.5rem 2rem;
  box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.64);
}
h1{
  font-size: 1.5rem;
}
.content{
  padding: 2rem;
}
li{
  list-style: none;
}
button{
  padding: 1rem 1rem;
  border: none;
  background-color:hsl(270, 60%, 40%);
  color: hsl(270, 50%, 95%);
  text-decoration: none;
  text-align: center;
}
a{
  padding: 0.2rem 2rem;
  border: none;
  background-color:hsl(270, 60%, 40%);
  color: hsl(270, 50%, 95%);
  text-decoration: none;
  text-align: center;
}
.fab{
  background-color: hsl(0, 80%, 50%);
  color: white;
  border-radius: 50%;
  text-align: center;
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  line-height: 3.6rem;
  vertical-align:text-top;
  box-shadow: 0 0 12px hsla(0, 0%, 0%, 0.64);
  position:fixed;
  bottom: 2rem;
  right: 2rem;
}
#detail{
    height:150px;
}
.wrapper{
    width:300px;
    margin:10px auto;
    font:14px/1.5 arial;
}
#star{
    overflow:hidden;
}
#star li{
    float:left;
    width:20px;
    height:20px;
    margin:2px;
    display:inline;
    color:#999;
    font:bold 18px arial;
    cursor:pointer
}
#star .act{
    color:#c00
}
#star_word{
    width:80px;
    height:30px;
    line-height:30px;
    border:1px solid #ccc;
    margin:10px;
    text-align:center;
    display:none
}